acm-level1/dynamicProgramming/*.bin
acm-level1/dynamicProgramming/*.exe
acm-level1/prefixsum_twopointers_binarySearch/*.bin
acm-level1/prefixsum_twopointers_binarySearch/*.exe
codeforces/*.bin
codeforces/*.exe
codeforces/text.txt
hackerank/*.bin
hackerank/*.exe
leetcode/*.bin
leetcode/*.exe
